# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
.env
*.env

# Virtual environment
venv/
env/
.venv/

# Django migrations
*/migrations/
!*/migrations/__init__.py

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
